@page "/car/add/{ownerId:int}"
@using Model.DTOs
@using Model.Models
@using Client.Services
@using Client.Shared
@inject ICarService CarService
@inject NavigationManager NavigationManager

@if (_car == null)
{
    <h3>Loading...</h3>
}
else
{
    <CarForm Car="@_car" ButtonTitle="Add" HandleValidSubmitAsync="@HandleValidSubmitAsync" />
}

@code {
    [Parameter]
    public int OwnerId { get; set; }
    private Car _car { get; set; }

    protected override void OnInitialized()
    {
        _car = new();
        _car.ProductionDate = new DateTime(2010, 01, 01);
    }

    private async Task HandleValidSubmitAsync()
    {
        await CarService.AddAsync(new NewCar { Car = _car, OwnerId = OwnerId });
        if (OwnerId == 0) NavigationManager.NavigateTo($"/cars");
        else NavigationManager.NavigateTo($"/owner/{OwnerId}");
    }
}
