@page "/car/{id:int}"
@using Model.Models
@using Client.Services
@inject ICarService CarService
@inject NavigationManager NavigationManager

<h3>Car Details</h3>
@if (_car == null)
{
    <h3>Loading...</h3>
}
else
{
    <EditForm Model="@_car">
        <div>
            <label>Brand</label>
            <InputText @bind-Value=_car.Brand class="form-control" disabled />
        </div>
        <div>
            <label>Type</label>
            <InputText @bind-Value=_car.Type class="form-control" disabled />
        </div>
        <div>
            <label>Registration Number</label>
            <InputText @bind-Value=_car.RegistrationNumber class="form-control" disabled />
        </div>
        <div>
            <label>Production Date</label>
            <InputDate @bind-Value=_car.ProductionDate class="form-control" disabled />
        </div>
        <div>
            <table>
                <tr>
                    <td> <a href="car/edit/@_car.Id" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a></td>
                    <td> <button @onclick="() => HandleDeleteAsync(_car.Id)" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Delete</button></td>
                </tr>
            </table>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Car _car { get; set; }

    protected async override Task OnInitializedAsync()
    {
        _car = await CarService.GetByIdAsync(Id);
    }

    private async Task HandleDeleteAsync(int id)
    {
        await CarService.DeleteAsync(id);
        NavigationManager.NavigateTo($"/cars");
    }
}
