@page "/cars"
@using Model.Models
@using Client.Services
@inject ICarService CarService;

<PageTitle>Cars</PageTitle>
<h3>Cars</h3>
@if (_cars == null)
{
    <h2>Loading...</h2>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td>Brand</td>
                <td>Type</td>
                <td>RegistrationNumber</td>
                <td>Production Date</td>
                <td><a href="car/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add New Car</a></td>
            </tr>
        </thead>
        <tbody>
            @foreach (Car car in _cars)
            {
                <tr>
                    <td>@car.Brand</td>
                    <td>@car.Type</td>
                    <td>@car.RegistrationNumber</td>
                    <td>@car.ProductionDate</td>
                    <td><a href="car/@car.Id" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Details</a></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private IEnumerable<Car>? _cars { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _cars = await CarService.GetAllAsync();
    }

}
