@page "/owners"
@using Client.Services
@using Model.Models
@inject IOwnerService OwnerService;

<PageTitle>Owners</PageTitle>
<h3>Owners</h3>
@if (_owners == null)
{
    <h2>Loading...</h2>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td>Last Name</td>
                <td>First Name</td>
                <td>Birth Date</td>
                <td><a href="owner/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add New Owner</a></td>
            </tr>
        </thead>
        <tbody>
            @foreach (Owner owner in _owners)
            {
                <tr>
                    <td>@owner.LastName</td>
                    <td>@owner.FirstName</td>
                    <td>@owner.BirthDate</td>
                    <td><a href="owner/@owner.Id" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Owner>? _owners { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _owners = await OwnerService.GetAllAsync();
    }
}
