@page "/owner/edit/{id:int}"
@using Model.Models
@using Client.Services
@using Client.Shared
@inject IOwnerService OwnerService
@inject NavigationManager NavigationManager

@if (_owner == null)
{
    <h3>Loading...</h3>
}
else
{
    <OwnerForm Owner="@_owner" ButtonTitle="Save" HandleValidSubmitAsync="@HandleValidSubmitAsync" />
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Owner _owner { get; set; }

    protected async override Task OnInitializedAsync()
    {
        _owner = await OwnerService.GetByIdAsync(Id);
    }

    private async Task HandleValidSubmitAsync()
    {
        await OwnerService.UpdateAsync(_owner.Id, _owner);
        NavigationManager.NavigateTo($"/owner/{_owner.Id}");
    }
}
