@using Model.Models
@if (Owner is null || HandleValidSubmitAsync is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@Owner" OnValidSubmit="@HandleValidSubmitAsync">
        <DataAnnotationsValidator />
        <div>
            <label>Last Name</label>
            <InputText @bind-Value=Owner.LastName class="form-control" />
            <ValidationMessage For="() => Owner.LastName" />
        </div>
        <div>
            <label>First Name</label>
            <InputText @bind-Value=Owner.FirstName class="form-control" />
            <ValidationMessage For="() => Owner.FirstName" />
        </div>
        <div>
            <label>Birth Date</label>
            <InputDate @bind-Value=Owner.BirthDate class="form-control" />
            <ValidationMessage For="() => Owner.BirthDate" />
        </div>
        <div>
            <button style="margin-top:10px" type="submit" class="btn btn-primary form-control mb-3">@ButtonTitle</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Owner? Owner { get; set; }

    [Parameter]
    public string? ButtonTitle { get; set; }

    [Parameter]
    public Func<Task>? HandleValidSubmitAsync { get; set; }
}
